{% extends "auth/signup-block.html" %}
{% load staticfiles %}

{% block signup_content %}


			
			<div id="pricing-plans-background-image">
				<div class="container">
						<div class="registration-steps-page-container">
							
							
							<div class="registration-step-final-padding">
								<h2 class="registration-final-heading">Welcome <span>John Doe!</span> Just a few more steps to complete your account</h2>
								
								<div class="registration-invite-friends">
																		
									<form class="registration-invite-friends-form">
										<div class="form-group">
											<label for="full-name" class="col-form-label">Invite your friends</label>
											<input type="text" class="form-control" id="full-name" placeholder="Enter email separated by commas">
										</div>
										
										<div class="form-group-invite-friends">
											<ul class="registration-invite-friends-list">
												<li  class="active">
													<i class="fas fa-check-circle"></i>
													<img src="{% static 'images/demo/user-1.jpg' %}" alt="Friends">
													<h6>Michael Mattas</h6>
													<div class="friends-social-media">Facebook</div>
												</li>
												<li>
													<i class="fas fa-check-circle"></i>
													<img src="{% static 'images/demo/user-2.jpg' %}" alt="Friends">
													<h6>Jeffrey Hische</h6>
													<div class="friends-social-media">Facebook</div>
												</li>
												<li>
													<i class="fas fa-check-circle"></i>
													<img src="{% static 'images/demo/user-3.jpg' %}" alt="Friends">
													<h6>Sandra Helmwit</h6>
													<div class="friends-social-media">Twitter</div>
												</li>
												<li>
													<i class="fas fa-check-circle"></i>
													<img src="{% static 'images/demo/user-4.jpg' %}" alt="Friends">
													<h6>Matt Nickerson</h6>
													<div class="friends-social-media">Twitter</div>
												</li>
												<li>
													<i class="fas fa-check-circle"></i>
													<img src="{% static 'images/demo/user-5.jpg' %}" alt="Friends">
													<h6>Gary Hustwit</h6>
													<div class="friends-social-media">Facebook</div>
												</li>
												<li>
													<i class="fas fa-check-circle"></i>
													<img src="{% static 'images/demo/user-6.jpg' %}" alt="Friends">
													<h6>Enrique Allen</h6>
													<div class="friends-social-media">Facebook</div>
												</li>
												<li>
													<i class="fas fa-check-circle"></i>
													<img src="{% static 'images/demo/user-7.jpg' %}" alt="Friends">
													<h6>Andrew Smith</h6>
													<div class="friends-social-media">Twitter</div>
												</li>
												<li>
													<i class="fas fa-check-circle"></i>
													<img src="{% static 'images/demo/user-8.jpg' %}" alt="Friends">
													<h6>Toby Winters</h6>
													<div class="friends-social-media">Facebook</div>
												</li>
												<li>
													<i class="fas fa-check-circle"></i>
													<img src="{% static 'images/demo/user-9.jpg' %}" alt="Friends">
													<h6>Matt Chewney</h6>
													<div class="friends-social-media">Twitter</div>
												</li>
												<li>
													<i class="fas fa-check-circle"></i>
													<img src="{% static 'images/demo/user-10.jpg' %}" alt="Friends">
													<h6>Jane Doe</h6>
													<div class="friends-social-media">Facebook</div>
												</li>
												<li>
													<i class="fas fa-check-circle"></i>
													<img src="{% static 'images/demo/user-11.jpg' %}" alt="Friends">
													<h6>Karen Smith</h6>
													<div class="friends-social-media">Facebook</div>
												</li>
												<li>
													<i class="fas fa-check-circle"></i>
													<img src="{% static 'images/demo/user-12.jpg' %}" alt="Friends">
													<h6>Sara West</h6>
													<div class="friends-social-media">Twitter</div>
												</li>
												<li>
													<i class="fas fa-check-circle"></i>
													<img src="{% static 'images/demo/user-13.jpg' %}" alt="Friends">
													<h6>Jennifer Doe</h6>
													<div class="friends-social-media">Twitter</div>
												</li>
												<li>
													<i class="fas fa-check-circle"></i>
													<img src="{% static 'images/demo/user-14.jpg' %}" alt="Friends">
													<h6>Suzie Smith</h6>
													<div class="friends-social-media">Facebook</div>
												</li>
												<li>
													<i class="fas fa-check-circle"></i>
													<img src="{% static 'images/demo/user-15.jpg' %}" alt="Friends">
													<h6>Megan Marks</h6>
													<div class="friends-social-media">Facebook</div>
												</li>
											</ul>
											<div class="clearfix"></div>
										</div>
								 
								</div><!-- close .registration-invite-friends -->
								
								<div class="registration-genres-step">
									<h5>Pick your preferred Genres:</h5>
									<ul class="registration-genres-choice">
										<li class="active">
											<i class="fas fa-check-circle"></i>
											<img src="{% static 'images/genres/drama.png' %}" alt="Drama">
											<h6>Drama</h6>
										</li>
										<li>
											<i class="fas fa-check-circle"></i>
											<img src="{% static 'images/genres/comedy.png' %}" alt="Comedy">
											<h6>Comedy</h6>
										</li>
										<li>
											<i class="fas fa-check-circle"></i>
											<img src="{% static 'images/genres/action.png' %}" alt="Action">
											<h6>Action</h6>
										</li>
										<li>
											<i class="fas fa-check-circle"></i>
											<img src="{% static 'images/genres/romance.png' %}" alt="Romance">
											<h6>Romance</h6>
										</li>
										<li class="active">
											<i class="fas fa-check-circle"></i>
											<img src="{% static 'images/genres/horror.png' %}" alt="Horror">
											<h6>Horror</h6>
										</li>
										<li class="active">
											<i class="fas fa-check-circle"></i>
											<img src="{% static 'images/genres/fantasy.png' %}" alt="Fantasy">
											<h6>Fantasy</h6>
										</li>
										<li>
											<i class="fas fa-check-circle"></i>
											<img src="{% static 'images/genres/sci-fi.png' %}" alt="Sci-Fi">
											<h6>Sci-Fi</h6>
										</li>
										<li>
											<i class="fas fa-check-circle"></i>
											<img src="{% static 'images/genres/thriller.png' %}" alt="Thriller">
											<h6>Thriller</h6>
										</li>
										<li>
											<i class="fas fa-check-circle"></i>
											<img src="{% static 'images/genres/western.png' %}" alt="Western">
											<h6>Western</h6>
										</li>
										<li>
											<i class="fas fa-check-circle"></i>
											<img src="{% static 'images/genres/adventure.png' %}" alt="Adventure">
											<h6>Adventure</h6>
										</li>
										<li>
											<i class="fas fa-check-circle"></i>
											<img src="{% static 'images/genres/animation.png' %}" alt="Animation">
											<h6>Animation</h6>
										</li>
										<li>
											<i class="fas fa-check-circle"></i>
											<img src="{% static 'images/genres/documentary.png' %}" alt="Documentary">
											<h6>Documentary</h6>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div><!-- close .registration-genres-step -->
								
								<div class="registration-step-final-footer">
									<a href="signup-welcome.html" class="btn btn-green-pro">Finish</a>
									<a href="signup-welcome.html" class="btn">Skip This Step</a>
								</div>
								
							</div>
	  					 
							
						</div><!-- close .registration-steps-page-container -->
					
				</div><!-- close .container -->
			</div><!-- close #pricing-plans-background-image -->
			

		
{% endblock %}