<footer id="footer-pro">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="copyright-text-pro">&copy; Copyright 2018 Cloudsplus. All Rights Reserved</div>
      </div>
      <!-- close .col -->
      <div class="col-md">
        <ul class="social-icons-pro">
          <li class="facebook-color"><a href="http://facebook.com/progressionstudios" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li class="twitter-color"><a href="http://twitter.com/Progression_S" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li class="youtube-color"><a href="http://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a></li>
          <li class="vimeo-color"><a href="http://vimeo.com" target="_blank"><i class="fab fa-vimeo-v"></i></a></li>
        </ul>
      </div>
      <!-- close .col --> 
    </div>
    <!-- close .row --> 
  </div>
  <!-- close .container --> 
</footer>

<a href="signup-step1.html#0" id="pro-scroll-top"><i class="fas fa-chevron-up"></i></a> 

<!-- Required Framework JavaScript --> 
<script src="js/libs/jquery-3.3.1.min.js"></script><!-- jQuery --> 
<script src="js/libs/popper.min.js" defer></script><!-- Bootstrap Popper/Extras JS --> 
<script src="js/libs/bootstrap.min.js" defer></script><!-- Bootstrap Main JS --> 
<!-- All JavaScript in Footer --> 

<!-- Additional Plugins and JavaScript --> 
<script src="js/navigation.js" defer></script><!-- Header Navigation JS --> 
<script src="js/jquery.flexslider-min.js" defer></script><!-- Custom Document Ready JS --> 
<script src="js/script.js" defer></script><!-- Custom Document Ready JS -->

</body>
</html>